#navlist{
    display: flex;
    flex-direction: row;
}
#navlist>li{
    list-style: none;
    margin-left: 9%;
    align-self: center;
}
.linkitem{
    color: black;    
    font-size: 1.4em;
    text-decoration: none;
}
#navigator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;
    left: 0;
    height: 7em;
    z-index: 4;
    background: white;
    opacity: 100%;
   box-shadow: 0px 8px 3px 0px rgba(0,0,0,0.16)
}
#icons{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3%;
}
.react-icons{
    margin-left: 5%;
    margin-right: 5%;
}
.react-icons:hover{
    cursor: pointer;
}
#list{
    width: 50%;
    margin-left: 0%;
}
#logo{
    width: 4em;
    height: 5em;
}
#logo:hover{
    cursor: pointer;
}
#cartamount{
    background:#ea2b15;
    width: 1.1em;
    height: 1.1em;
    text-align: center;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: 30%;
    right: 4.5%;
}
#mainmain{
    margin-top: 7em;
    background: #f9f9f9
}
#main1{
    border: 1px solid transparent;
    height: 50vh;
    z-index: 1;
    background: #f9f9f9;
    width: 100%;
}
#main1small{
    margin-top: 14em;
    margin-left: 10%;
    width: 40%;
}
#main1small>h1{
    font-size: 3.4em;
    margin-bottom: 2%;
}
#main1small>h2{
    font-size: 2.8em;
    font-weight: 400;
}
#main2{
    height: 40vh;
    z-index: 1;
    background: #f9f9f9;
    width: 100%;
}
#main2small{
    margin-top: 5%;
    margin-left: 12%;
}
#main2small>h3{
    width: 30%;
    text-align: center;
    font-size: 2.4em;
}
#main2small>p{
    width: 30%;
    text-align: center;
    margin-top: 30px;
    font-size: 1.8em;
}
#main3{
    height: 40vh;
    z-index: 1;
    width: 100%;
}
#main3small{
    width: 30%;
    margin-left: 50%;
}
#main3small>h3{
    text-align: center;
    font-size: 2.4em;
}
#main3small>p{
    margin-top: 8%;
    text-align: center;
    font-size: 1.8em;
}
#main4{
    height: 40vh;
    z-index: 1;
    background: #f9f9f9;
    width: 100%;
}
#main4small{
    margin-left: 10%;
    margin-top: 10%;
    width: 40%;
    text-align: center;
}
#main4small>h3{
    font-size: 2.4em;
}
#main4small>p{
    font-size: 1.8em;
}
#footer{
    height: 12vh;
    background: #5f6161;
    display: flex;
    justify-content: center;
    color: #e8e8e8;
    width: 100%;
    position: absolute;
    left: 0;
}
#footerdiv{
    width: 90%;
    height: 100%;
    display:  flex;
    justify-content: space-around;
}
#footersmall1{
    width: 20%;
    height: 100%;
}
#footersmall2{
    width: 30%;
    height: 100%;
}
.footerpart{
    display: flex;
    flex-direction: row;
    
}
#footericons{
    display: flex;
    width: 30%;
}
.footericon{
    margin-right: 10px;
}
.footericon:hover{
    cursor: pointer;
}
.footerdescicons{
    margin-top: 10px;
    margin-right: 10px;
}
#product{
    height: 80vh;
    margin-top: 7em;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    border: 3px solid lightgray;
    border-radius: 15px;
}
#productright{
    width: 33%;
    
}
#productcenter{
    width: 33%;
}
#productcenter:hover{
    cursor: grab;
}
#productcenter:active{
    cursor: grabbing;
}
#productleft{
    width: 33%;
}
#productmenu{
    display: flex;
    margin-top: 15em;
}
#productmenu>h2{
    margin-right: 20px;
}
.descitem{
    font-style: italic;
}
#amountselect{
    border: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
    margin-bottom: 5%;
    height: 4em;
}
#amountselect>button{
    width: 30%;
    font-size: 36px;
}
#addtocardbtn{
    height: 4em;
    width: 75%;
    font-weight: 700;
    background: #242424;
    color: #f6f6f6;
    border: none;
}
#addtocardbtn:hover{
    cursor: pointer;
}
#heartbutton{
    height: 4em;
    width: 25%;
    border: none;
    
}
#heartbutton:hover{
    cursor: pointer;
}
#productbuttons{
    display: flex;
    width: 40%;
}
.descpar{
    width: 75%;
}
#desctexts{
    margin-top: 2em;
}
#lefttext{
    margin-top: 15em;
    margin-left: 5em;
}
#rightproducts{
    margin-left: 5em;
}
#shopingcartmain{
    width: 20vw;
    top: 7.5em;
    right: 20px;
    position: fixed;
    background: white;
    z-index: 3;
    max-height: 50%;
    overflow: auto;
    border: 2px solid gray;
    box-shadow: 0px 7px 15px -2px rgba(0,0,0,0.55);
}
#shopingcartitem{
    display: flex;
    flex-direction: row;
}
#sciPicture{
    width: 40%;
    border: 1px solid lightgray;
    margin-top: 5px;
    margin-bottom: 5px;
}
#sciSub{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: flex-end;
}
#shopingcartall{
    display: flex;
    flex-direction: column;
    margin: 1em 1em 1em 1em;
    border-bottom: 1px solid #b2b1b3;
    border-top: 1px solid #b2b1b3;
}
#sciButton{
    width: 60%;
    height: 2.6em;
    align-self: center;
    background: white;
    border-radius: 5px;
    border: 1px solid darkgray;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: background, 0.5s;
}
#sciButton:hover{
    background: #d14c4c;
    cursor: pointer;
}
#sciTitle{
    font-weight: 700;
    font-size: 24px;
    margin-right: 1em;
}
#sciAmount{
    margin-right: 1em;
    font-size: 20px;
}
#sciPrice{
    margin-right: 1em;
    font-size: 18px;
}
#cartbuttons{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 25px;
}
#paybutton{
    width: 12em;
    height: 2.6em;
    background: #27d889;
    color: #f5f5f5;
    border-radius: 5px;
    border: none;
}
#paybutton:hover{
    cursor: pointer;
}
#clearcartbutton{
    width: 12em;
    height: 2.6em;
    background: #d14c4c;
    color: #f5f5f5;
    border-radius: 5px;
    border: none;
}
#clearcartbutton:hover{
    cursor: pointer;
}
#pricediv{
    margin-left: 1em;
}
#priceFinal{
    font-size: 22px;
}
.productSection{
    margin-top: 150px;
    margin-bottom: 150px;
}
#mainbackground{
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

#canvas{
    filter: blur(4px);
    z-index: -1;
}

#checkout{
    width: 100vw;
    height: 100vh;
    background: #f3f3f3;
    position: absolute;
    z-index: 4;
    left: 0;
    top: 0;
}
#checkoutfirst{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    justify-content: space-around;
    margin-top: 5%;
    padding-top: 3%;
    padding-bottom: 7%;
    background: white;
    box-shadow: 0px 12px 17px 4px rgba(0,0,0,0.27);
}
#checkoutleftform{
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}
.checkoutpart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#cardinput{
    width: 60%;
    padding: 10px;
}
.checkoutinput{
    width: 75%;
    margin-bottom: 20px;
    padding: 10px;
}
.checkoutlabel{
    margin-top: 2.5%;
    font-size: 1.2em;
}
#cardnumdiv{
    display: flex;
    justify-content: space-around;
    margin-bottom: 35px;
}
#cardlabel{
    margin-top: 2.5%;
    font-size: 1.2em;
}
.cardsmallinput{
    width: 25%;
    padding: 10px;
}
#cardsmalldiv{
    display: flex;
}
.cardsmalldivpart{
     display: flex;
    justify-content: center;
}
.cardsmalllabel{
    margin-top: 3%;
    font-size: 1.2em;
    margin-right: 10px;
}
#checkoutrightform{
    width: 40%;
}
#checkoutitemscheck{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
}
#checkoutboxes{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
#proceedbutton{
    height: 20%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
#proceed{
    margin-top: 10px;
    margin-left: 10px;
    height: 80%;
    width: 60%;
    background-color: #6ec477;
    border: none;
}
#proceed:hover{
    cursor: pointer;
}
#checkouttotal{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 36px;

}
#likedmain{
    border: 2px solid gray;
    box-shadow: 0px 7px 15px -2px rgba(0,0,0,0.55);
    right: 300px;
    width: 20vw;
    top: 7.5em;
    right: 20px;
    position: fixed;
    background: white;
    z-index: 3;
    max-height: 50%;
    overflow: auto;
    min-height: 200px;
}
#likedComponent{
    border: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    margin: 1em 1em 1em 1em;
}
#likedImage{
    width: 150px;
    height: 150px;
    border: 1px solid lightgray;
}
#likedTitle{
    font-size: 2em;
    margin-left: 1.3em;
}
#likedRevmoveBtn{
    width: 7em;
    height: 3em;
    border: none;
}
#likedRevmoveBtn:hover{
    cursor: pointer;
}
#likedAddToCartBtn{
    width: 7em;
    height: 3em;
    border: none;
}
#likedAddToCartBtn:hover{
    cursor: pointer;
}
#likedComponentBtnDiv{
    display: flex;
    justify-content: space-between;
    margin-left: 1.2em;
    width: 12.6em;
}
#img1{
    width: 39em;
    height: 50rem;
    position: absolute;
    right: 10%;
    top: 25%;
    filter: brightness(0.9);
    box-shadow: 0px 20px 13px 0px rgba(0,0,0,0.48)
}
#img2{
    position: absolute;
    width: 50em;
    height: 35em;
    left: 10%;
    top: 100%;
    filter: brightness(0.8);
    box-shadow: 0px 20px 13px 0px rgba(0,0,0,0.48);
    margin-top: 100px;
}
#img3{
    width: 50em;
    height: 30em;
    position: absolute;
    right: 10%;
    top: 158%;
    box-shadow: 0px 20px 13px 0px rgba(0,0,0,0.48)
}

@media only screen and (max-width: 1440px){
    #img1{
        width: 30em;
        height: 40em;
    }
    #img2{
        width: 30em;
        height: 25em;
    }
    #img3{
        width: 30em;
        height: 20em;
    }
    #main1small>h1{
        font-size: 2.8em;
    }
    #main1small>h2{
        font-size: 2.2em;
    }
    #main2small>h3{
        font-size: 2.2em;
    }
    #main2small>p{
        font-size: 1.5em;
    }
    #main3small>h3{
        font-size: 2.2em;
    }
    #main3small>p{
        font-size: 1.5em;
    }
    #main4small>h3{
        font-size: 2.2em;
    }
    #main4small>p{
        font-size: 1.5em;
    }
    #footer{
        height: auto;
    }
    #heartbutton{
        width: 50px;
    }
    #likedImage{
        width: 100px;
        height: 100px;
    }
    #likedTitle{
        font-size: 24px;
    }
    #likedRevmoveBtn{
        width: 60px;
        font-size: 10px;
    }
    #likedAddToCartBtn{
        width: 60px;
        font-size: 10px;
    }
    #likedComponentBtnDiv{
        width: 130px;
    }
    #sciPicture{
        width: 100px;
        height: 100px;
    }
    #sciTitle{
        font-size: 16px;
        margin-bottom: 0px;
    }
    #sciAmount{
        margin-bottom: 0px;
    }
    #paybutton{
        width: 9em;
    }
    #clearcartbutton{
        width: 9em;
    }
    .checkoutlabel{
        margin-left: 10px;
    }
}
@media only screen and (max-width: 1024px){
    #img1{
        width: 20em;
        height: 30em;
        top: 30%;
    }
    #img2{
        width: 20em;
        height: 15em;
    }
    #img3{
        width: 20em;
        height: 10em;
    }
    #main1small>h1{
        font-size: 1.8em;
    }
    #main1small>h2{
        font-size: 1.2em;
    }
    #main2small>h3{
        font-size: 1.2em;
    }
    #main2small>p{
        font-size: 1em;
    }
    #main3small>h3{
        font-size: 1.2em;
        margin-left: 70px;
    }
    #main3small>p{
        font-size: 1em;
        margin-left: 70px;
    }
    #main4small>h3{
        font-size: 1.2em;
        margin-right: 50px;
        margin-top: 180px;
    }
    #main4small>p{
        font-size: 1em;
        margin-right: 50px;
    }
    #footer{
        height: auto;
    }
    #heartbutton{
        width: 50px;
    }
    #likedImage{
        width: 70px;
        height: 70px;
    }
    #likedTitle{
        font-size: 16px;
    }
    #likedRevmoveBtn{
        width: 60px;
        font-size: 10px;
    }
    #likedAddToCartBtn{
        width: 60px;
        font-size: 10px;
    }
    #likedComponentBtnDiv{
        width: 130px;
    }
    #likedmain{
        width: 280px;
        height: 300px;
    }
    #shopingcartmain{
        width: 280px;
        height: 300px;
    }
    #sciPicture{
        width: 100px;
        height: 100px;
    }
    #sciTitle{
        font-size: 16px;
        margin-bottom: 0px;
    }
    #sciAmount{
        margin-bottom: 0px;
    }
    #paybutton{
        width: 9em;
    }
    #clearcartbutton{
        width: 9em;
    }
    #product{
        height: 60vh;
    }
    #productmenu{
        font-size: 1em;
        flex-direction: column;
        margin-top: 50%;
        line-height: 10px;
    }
    #rightproducts{
        margin-left: 2em;
    }
    .descitem{
        font-size: 1em;
    }
    .descpar{
        font-size: 0.7em;
    }
    #lefttext{
        margin-top: 42%;
        width: 90%;
        margin-left: 5%;
    }
    #productname{
        font-size: 28px;
    }
    #productdeveloper{
        font-size: 22px;
    }
    #productcompose{
        font-size: 16px;
    }
    #amountselect{
        width: 150px;
        height: 75px;
        transform: scale(0.7);
        margin-left: -23px;
    }
    #productbuttons{
        width: 150px;
    }
    #shopingcartitem{
        height: 140px;
    }
    #checkoutfirst{
        height: 70%;
    }
    #checkoutform{
        height: 50%;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    #checkoutrightform{
        height: 30%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    #checkoutfirst{
        flex-direction: column;
    }
}
@media only screen and (max-width: 426px){
    #navigator{
        height: 100px;
    }
    .linkitem{
        font-size: 12px;
    }
    #navlist{
        margin-top: 7px;
        margin-left: -30px;
    }
    .react-icons{
        margin-right: 5px;
    }
    #img1{
        width: 10em;
        height: 15em;
        top: 25%;
    }
    #img2{
        width: 20em;
        height: 15em;
        top: 65%;
        left: 13%;
    }
    #img3{
        width: 20em;
        height: 10em;
        top: 130%;
    }
    #main1small>h1{
        font-size: 1.2em;
    }
    #main1small>h2{
        font-size: 1em;
    }
    #main2small{
        margin-left: 0px;
    }
    #main2small>h3{
        font-size: 1em;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    #main2small>p{
        font-size: 0.8em;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    #main3small{
        width: auto;
        margin-left: 0px;
    }
    #main3small>h3{
        font-size: 1em;
        width: 300px;
    }
    #main3small>p{
        font-size: 0.8em;
        width: 300px;
    }
    #main4small{
        width: auto;
        margin-left: 0px;
        height: 100px;
        margin-top: 0px;
    }
    #main4small>h3{
        font-size: 1em;
        margin-left: auto;
        margin-right: auto;
    }
    #main4small>p{
        font-size: 0.8em;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    #footer{
        height: auto;
        margin-top: 0px;
    }
    #heartbutton{
        width: 50px;
    }
    #likedImage{
        width: 70px;
        height: 70px;
    }
    #likedTitle{
        font-size: 16px;
    }
    #likedRevmoveBtn{
        width: 60px;
        font-size: 10px;
    }
    #likedAddToCartBtn{
        width: 60px;
        font-size: 10px;
    }
    #likedComponentBtnDiv{
        width: 130px;
    }
    #likedmain{
        width: 280px;
        height: 300px;
    }
    #shopingcartmain{
        width: 280px;
        height: 300px;
    }
    #sciPicture{
        width: 100px;
        height: 100px;
    }
    #sciTitle{
        font-size: 16px;
        margin-bottom: 0px;
    }
    #sciAmount{
        margin-bottom: 0px;
    }
    #paybutton{
        width: 9em;
    }
    #clearcartbutton{
        width: 9em;
    }
    #product{
        height: 40vh;
    }
    #productmenu{
        font-size: 0.4em;
        flex-direction: column;
        margin-top: 50%;
        line-height: 3px;
    }
    #rightproducts{
        margin-left: 2em;
    }
    .descitem{
        font-size: 0.5em;
    }
    .descpar{
        font-size: 0.4em;
    }
    #lefttext{
        margin-top: 42%;
        width: 90%;
        margin-left: 10%;
    }
    #productname{
        font-size: 18px;
    }
    #productdeveloper{
        font-size: 14px;
    }
    #productcompose{
        font-size: 10px;
    }
    #amountselect{
        width: 100px;
        height: 55px;
        transform: scale(0.7);
        margin-left: -23px;
    }
    #productbuttons{
        width: 75px;
    }
    .checkoutlabel{
        font-size: 12px;
        width: 50%;
    }
    .cardsmalllabel{
        font-size: 12px;
        width: 50%;
    }
    #cardlabel{
        font-size: 12px;
    }
    .checkoutinput{
        height: 10px;
    }
    #checkoutrightform{
        margin-top: -100px;
    }
    #proceed{
        width: 6em;    
        font-size: 12px;
    }
    #checkouttotal{
        font-size: 24px;
    }
    .checkboxlabel{
        font-size: 12px;
    }
    #checkoutitemscheck{
        height: 30%;
    }
}